.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 16px 32px;

  border-radius: 8px;

  background-color: var(--color-primary);
  color: #fff;

  font-weight: 600;

  transition: background-color var(--transition);
}

.button:hover {
  background-color: #0046cc;
}