// @forward "button";
// @forward "logo";
// @forward "navigation";
// @forward "header";

.site-header {
  padding-block: 20px;
}
.site-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}